.entradaNumerica{
  display: flex;
  flex: 1;
  color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text{
  color: #555;
  font-size: 1.5rem;

}
.value{
  font-size: 6rem;
}
.botoes{
  display: flex;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #555;
  color: #fff;
  height: 80px;
  width: 80px;
  margin: 8px;
  border: none;
}