.cartao{
  display: flex;
  width: 300px;
  height: 300px;
  color:#fff;
  margin: 4px;
  padding: 20px;
  font-size: 2rem;
  

}


@media (max-width: 700px) {
  .cartao{
   width: 200px;
   font-size: 1.5rem;
   padding: 8px;
  }
}